body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#d9e6f2;
    font-family: Arial, sans-serif;
}

/* BIGGER COVER */
.cover{
    width:900px;              /* increased size */
    padding:60px;
    border-radius:15px;
    border:3px solid #1f5f9c;
    background-image:url("sky.png");
    background-size:cover;
    background-position:center;
}

/* BIGGER HEADING + COLOR */
h1{
    margin-top:0;
    font-size:36px;
    color:#0b3d6e;   /* heading color */
}

hr{
    border:2px solid #1f5f9c;
}

/* BIGGER TEXT + COLOR */
.description{
    line-height:2;
    font-size:18px;
    color:#000000;   /* paragraph color */
}

.highlight{
    background:yellow;
    padding:2px 5px;
}

/* QUOTE STYLE */
.quote{
    margin:30px 0;
    padding:18px;
    background:rgba(255,255,255,0.7);
    border-left:8px solid #1f5f9c;
    text-align:center;
    font-style:italic;
    font-size:18px;
    color:#0a2e57;
}

/* AUTHOR BOX */
.author-box{
    display:flex;
    gap:20px;
    background:rgba(255,255,255,0.9);
    padding:20px;
    border-radius:10px;
}

.author-box img{
    width:110px;      /* bigger photo */
    height:120px;
    object-fit:cover;
    border-radius:8px;
}

.author-box h3{
    font-size:22px;
    color:#0b3d6e;
}

.author-box p{
    font-size:17px;
    color:#222;
}

/* FOOTER */
.footer{
    margin-top:45px;
    background:#174c88;
    color
